* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --text-color: #e7e7e0;
  --transition: transform 750ms cubic-bezier(0.075 0.5 0 1);
}
@font-face {
  font-family: releway_f;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: releway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
body {
  font-family: releway_f, sans-serif;
  line-height: 1.55;
  background-color: #010101;
}
.header {
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
  z-index: 100;
}
.layers {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
  transition: var(--transition);
  z-index: 2;
}
.layer__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
  z-index: 0;
}
.layer__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.25), 0);
}
.layer__front {
  transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}
.layer-header {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-color);
  text-shadow: 0 0 15px #9e7d35;
  margin-top: calc(var(--index) * -1);
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
  z-index: 1;
}
.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2);
}
.layers__caption {
  font-size: calc(var(--index) / 1.2);
  letter-spacing: calc(var(--index) / 3.5);
}
.article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  text-align: center;
}
.article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 2);
  letter-spacing: calc(var(--index) / 5);
  transform: translate3d(0, calc(var(--scrollTop) / -15), 0);
  transition: var(--transition);
  will-change: transform;
}
.article__text {
  max-width: calc(var(--index) * 45);
  margin-top: calc(var(--index) * 0.75);
  font-size: calc(var(--index) * 0.9);
  letter-spacing: calc(var(--index) * 0.25);
  transform: translate3d(0, calc(var(--scrollTop) / -15), 0);
  transition: var(--transition);
  will-change: transform;
}
.copy {
  position: absolute;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 30);
  bottom: calc(var(--index) * 1);
}
.content {
  will-change: transform;
}
